
<div *ngIf="!showUserDetails">
    <ul>
        <li *ngFor="let post of data">
            <div class="user-card" (click)="fetchSingleUserData(post.id)">
                <img [src]="post.avatar" alt="Avatar">
                <div class="user-details">
                    <h2>{{ post.first_name }} {{ post.last_name }}</h2>
                    <p class="email-text">{{ post.email }}</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="navigation">
        <button class="navigation-btn" (click)="previousPage()" [disabled]="isFirstPage()">Previous</button>
        <button class="navigation-btn" (click)="nextPage()" [disabled]="isLastPage()">Next</button>
      </div>
</div>

<div *ngIf="showUserDetails" class="user-details-popup">
    <div class="user-details-card">
        <img [src]="selectedUser.data.avatar" alt="Avatar">
        <h2>{{ selectedUser.data.first_name }} {{ selectedUser.data.last_name }}</h2>
        <p class="email-text">{{ selectedUser.data.email }}</p>
        <div class="support-details">
        <p > URL: {{ selectedUser.support.url }}</p>
        <p > {{ selectedUser.support.text }}</p>
        </div>

        <button class="navigation-btn"(click)="goBack()">Go Back</button>
</div>


</div>